!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OplernoLogin
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = javascript_include_tag "https://www.authy.com/form.authy.min.js"
    = stylesheet_link_tag "https://www.authy.com/form.authy.min.css"
    = javascript_include_tag "devise_authy.js"
  %body
    = yield
